@import "tailwindcss";
/*
  ---break---
*/
@plugin 'tailwindcss-animate';
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-open-sans: "Open Sans", sans-serif;

  /* AVO THEME */
  /* Red Colors */
  --color-red-1: #fae7e7;
  --color-red-2: #f5d0d0;
  --color-red-3: #f0b9b9;
  --color-red-4: #eba2a2;
  --color-red-5: #e68b8b;
  --color-red-6: #e17474;
  --color-red-7: #dc5d5d;
  --color-red-8: #d74646;
  --color-red-9: #d32f2f;
  --color-red-10: #bd2a2a;
  --color-red-11: #a82525;
  --color-red-12: #7e1c1c;
  --color-red-13: #541212;
  --color-red-14: #2a0909;

  /* Purple Colors */
  --color-purple-0: #f6f6ff;
  --color-purple-1: #efefff;
  --color-purple-2: #dfdeff;
  --color-purple-3: #cfcdff;
  --color-purple-4: #bfbdff;
  --color-purple-5: #afadff;
  --color-purple-6: #9f9cff;
  --color-purple-7: #8f8cff;
  --color-purple-8: #7f7bff;
  --color-purple-9: #6f6bff;
  --color-purple-10: #605bff;
  --color-purple-11: #4c48cc;
  --color-purple-12: #393699;
  --color-purple-13: #262465;
  --color-purple-14: #131232;

  /* Grey Colors */
  --color-grey: #495057;
  --color-grey-1: #f6f7f9;
  --color-grey-2: #edf0f4;
  --color-grey-3: #e5e9ee;
  --color-grey-4: #dce2e9;
  --color-grey-5: #d4dbe4;
  --color-grey-6: #cbd4de;
  --color-grey-7: #c2cdd9;
  --color-grey-8: #bac6d3;
  --color-grey-9: #b1bfce;
  --color-grey-10: #a9b8c9;
  --color-grey-11: #8793a0;
  --color-grey-12: #656e78;
  --color-grey-13: #434950;
  --color-grey-14: #212428;

  /* Green Colors */
  --color-green-1: #e8f6ef;
  --color-green-2: #d1eedf;
  --color-green-3: #bae6cf;
  --color-green-4: #a4debf;
  --color-green-5: #8dd6af;
  --color-green-6: #76cd9f;
  --color-green-7: #60c58f;
  --color-green-8: #49bd7f;
  --color-green-9: #32b56f;
  --color-green-10: #1cad60;
  --color-green-11: #168a4c;
  --color-green-12: #106739;
  --color-green-13: #0b4526;
  --color-green-14: #052213;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
/*
  ---break---
*/
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.87 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);

  /* AVO THEME */
  --purple-primary: #605bff;
  --purple-primary-hover: #6f6bff;
  --positive: #1cad60;
  --positive-hover: #32b56f;
  --negative: #bd2a2a;
  --negative-hover: #d32f2f;
}
/*
  ---break---
*/
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);

  /* AVO THEME */
  --positive: #33a25c;
}
/*
  ---break---
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* AVO THEME */
  --color-purple-primary: var(--purple-primary);
  --color-purple-primary-hover: var(--purple-primary-hover);
  --color-positive: var(--positive);
  --color-positive-hover: var(--positive-hover);
  --color-negative: var(--negative);
  --color-negative-hover: var(--negative-hover);
}
/*
  ---break---
*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.icon path {
  fill: currentColor;
}

.hidescroll::-webkit-scrollbar {
   display: none;
}
